.hgignore
.hgtags
.hg

makefile
config.status
autom4te.cache
temp_*
*.log
*.orig

*.a
*.dll
*.exe
*.o
*.so

bin/*
!bin/*.in

doc/gambit.aux
doc/gambit.cm
doc/gambit.cp
doc/gambit.cps
doc/gambit.fl
doc/gambit.fn
doc/gambit.html
doc/gambit.info
doc/gambit.info-1
doc/gambit.info-2
doc/gambit.info-3
doc/gambit.ky
doc/gambit.op
doc/gambit.pdf
doc/gambit.pg
doc/gambit.ps
doc/gambit.toc
doc/gambit.tp
doc/gambit.txt
doc/gambit.vr
doc/stamp.vti
doc/version.txi

examples/Xlib-simple/Xlib.o1
examples/Xlib-simple/bounce.o1
examples/distr-comp/dc.o1
examples/distr-comp/distr-comp.o1
examples/iOS/GambitREPL.xcodeproj
examples/iOS/gambit-c.pdf
examples/iOS/gambit-iOS
examples/iOS/lib
examples/misc/signals.o1
examples/pi/pi.o1
examples/pthread/mylib.c
examples/pthread/mylib.o
examples/pthread/mylib_.c
examples/pthread/mylib_.o
examples/pthread/pthread
examples/pthread/pthread.o
examples/ring/ring.o1
examples/tcltk/tcltk.o1
examples/tcltk/test.o1
examples/web-repl/*.class
examples/web-repl/web-repl.o1
examples/web-server/*.o1
examples/web-server/_cont*

gsc/gsc
gsc/gsc.exe
gsc/_*.c

gsi/gsi
gsi/gsi.exe
gsi/_*.c

include/config.h
include/gambit.h
include/gambit-not*.h
include/env.h
include/typ.h

lib/guide/guidepro
lib/guide/_*.c
lib/_*.c

prebuilt/macosx/build-phase2
prebuilt/windows/build-phase2
!prebuilt/windows/binpatch.exe

gsc-boot
gsc-boot.exe

libgambc.dylib
libgambcgsi.dylib
libgambcgsc.dylib

gambc-v*.dmg
gambc-v*.exe
gambc-v*.tgz

*~
.DS_Store
*/.DS_Store
*.obj
*.manifest
*.res
*.ilk
*.pdb
*.dep
*.idb
*.gvm

